---
import Action from "@/components/Action.astro";
import Card from "@/components/Card.astro";
import Icon from "@/components/Icon.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { PricingData } from "@/config/landing.interface";

interface Props {
  data: PricingData;
}

const { data } = Astro.props;
---

<section class="py-32 bg-white">
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div
    class="mt-16 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 place-items-center"
  >
    {
      data.tiers.map((tier) => (
        <Card>
          <header class="flex flex-col justify-center gap-y-3">
            <h3 class="text-3xl text-center font-black tracking-tight text-gray-900">{tier.title}</h3>
            <p class="text-lg text-center text-gray-900/70">{tier.description}</p>
          </header>
          <section class="flex justify-center">
            <h4 class="text-6xl font-black text-gray-900">
              {tier.price.amount}
              {tier.price.period && (
                <span class="font-semibold text-xl text-gray-900/70">
                  {tier.price.period}
                </span>
              )}
            </h4>
          </section>
          <section class="flex justify-start">
            <ul class="flex flex-col gap-y-4 text-base">
              {tier.features.map((feature) => (
                <li class="flex flex-row px-7 gap-x-2 items-center">
                  <span>
                    <Icon class="w-6 h-auto text-primary" icon="CheckIcon" />
                  </span>
                  <p class="text-gray-900">{feature}</p>
                </li>
              ))}
            </ul>
          </section>
          <footer class="flex justify-center">
            <Action
              as="a"
              class="bg-primary text-black font-bold w-72 hover:scale-105 hover:shadow-[0_0_20px_rgba(204,255,0,0.5)] transition-all"
              type="button"
              href="#"
            >
              {tier.cta}
            </Action>
          </footer>
        </Card>
      ))
    }
  </div>
</section>
